/*
 *= require reset
 *= require_self
 *= require jquery.Jcrop
 *
 * BloomBox Social Networking and UGC Toolkit
 * Copyright 2006-2011, Mint Digital Limited, All rights reserved.
 */
/*** Colors ***
 * (UPDATE THIS as you code!)
 * Dark gray:   #263740   Text
 * Gray:        #999      Metadata, borders
 * Blue:        #25a9e0   Buttons, links
 * Blue:        #64aec1   Stop wasting money colour
 * Red:         #DB4A50   Mission Headings
 * Medium Gray: #6C6C64   Paragraphs, Body text
 * COLOR:       #CODE
 */
/*** Global ***/
#test {
  width: 100px;
  height: 100px;
  border: 2px solid #29c03f;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -webkit-box-shadow: 1px 2px 30px #2957c0;
  -moz-box-shadow: 1px 2px 30px #2957c0;
  box-shadow: 1px 2px 30px #2957c0;
  background-image: -o-linear-gradient(bottom, #c02929 20%, grey 80%);
  background-image: -ms-linear-gradient(bottom, #c02929 20%, grey 80%);
  background-image: -webkit-linear-gradient(bottom, #c02929 20%, grey 80%);
  background-image: -moz-linear-gradient(bottom, #c02929 20%, grey 80%);
  background-image: linear-gradient(bottom, #c02929 20%, grey 80%); }
